.main {
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../../assets/images/back-to-future.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(148, 148, 153);
  background-blend-mode: multiply;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  &__select {
    width: 20%;
  }
  &__title {
    width: 40%;
    font-family: "Roboto";
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    text-align: center;
  }
  &__subtitle {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 32px;
    color: #fff;
    text-align: center;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    row-gap: 50px;
    &--link {
      width: 15%;
      font-family: "Roboto";
      font-weight: 700;
      font-size: 18px;
      padding: 15px 0;
      text-align: center;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 5px;
      overflow: hidden;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        background: #03e9f4;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
          0 0 200px #03e9f4;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
      }
    }
  }
}
